.contactCards {
    display: flex;
    gap: 30px;
    width:80%;
    margin: auto;

}

.innerContactCard {
    /* width:30%; */
    padding: 20px ;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 2px rgb(174, 172, 172);
    background-color: lightgreen;
    margin-top: 30px;



}
.backButton{
    margin-top:20px;
    
}
.search{
    padding:8px;
    border-radius: 100px;
    border: none;
    margin-top: 40px;
}
.searchBar{
    width:10%;
    padding:5px;

}